{% extends '_form_base.html' %}

{% block form_container %}
  <div class="b-page-section">
      <div class="row">
          <div class="large-10 large-offset-1 columns">

  <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='./confirmation.html';}"></iframe>
 <!-- GOOGLE FORM -->
 <form class="b-form" action="https://docs.google.com/a/thegovlab.org/forms/d/e/1FAIpQLSc1KlsdEiAEzSPrHmxB36DZIjvAYFAC74ne4GL7PmtM-94j9w/formResponse" method="POST" onsubmit="submitted=true;" target="hidden_iframe">
    <!-- FIRST NAME -->
   <label class="form-field-label" for="entry_1253314825"><div class="form-field-title field-required">First Name</div></label>
   <input type="text" name="entry.1253314825" value="" class="ss-q-short" id="entry_1253314825" dir="auto" aria-label="First Name  " aria-required="true" required="" title=""></label>

   <!-- LAST NAME -->
  <label class="form-field-label" for="entry_579020446"><div class="form-field-title field-required">Last Name</div></label>
  <input type="text" name="entry.579020446" value="" class="ss-q-short" id="entry_579020446" dir="auto" aria-label="Last Name  " aria-required="true" required="" title="">

  <!-- EMAIL -->
   <label class="form-field-label" for="entry_945637751"><div class="form-field-title field-required">Email</div></label>
   <input type="text" name="entry.945637751" value="" class="ss-q-short" id="entry_945637751" dir="auto" aria-label="Email  " aria-required="true" required="" title="">

   <!-- ORGANIZATION -->
   <label class="form-field-label" for="entry_1431036681"><div class="form-field-title field-required">Organization</div></label>
   <input type="text" name="entry.1431036681" value="" class="ss-q-short" id="entry_1431036681" dir="auto" aria-label="Organization  " title="">

  <!-- CONFERENCE SELECTION -->

<label for="entry_2107053402"><div class="form-field-title">Please choose among the available sessions, where you have the most to contribute and that you would be committed to joining. Participation involves: 1) reading the briefing materials, 2) participating actively in the discussion and sharing your knowledge.* You may apply for one or more sessions depending on your expertise
</div>

  <ul class="form-checkbox-group" role="group" aria-label="Please choose among the available sessions, where you have the most to contribute and that you would be committed to joining. Participation involves: 1) reading the briefing materials, 2) participating actively in the discussion and sharing your knowledge.* You may apply for one or more sessions depending on your expertise  ">

    <li>
      <div class="e-checkbox">
        <input id="group_1463462154_1" name= "entry.1463462154" role="checkbox" type="checkbox" value="Conference 1"><label for="group_1463462154_1">Conference 1</label>
      </div>
    </li> 

    <li>
      <div class="e-checkbox">
        <input id="group_1463462154_2" name= "entry.1463462154" role="checkbox" type="checkbox" value="Conference 2"><label for="group_1463462154_2">Conference 2</label>
      </div>
    </li>

  </ul>


   <!-- PAST PARTICIPANTS -->
   <label for="entry_553977394"><div class="form-field-title">Have you applied to participate in any of the other conferences?</div></label>

   <ul class="form-radio-group" role="radiogroup" aria-label="Have you applied to participate in any of the other conferences?  ">

    <li>
      <label>
        <div class="e-radio"><input type="radio" name="entry.351358348" value="Yes" id="group_351358348_1" role="radio" class="ss-q-radio" aria-label="Yes">
        <label for="group_351358348_1">Yes</label>
        </div>
      </label>
    </li> 
    <li>
      <label>
        <div class="e-radio"><input type="radio" name="entry.351358348" value="No" id="group_351358348_2" role="radio" class="ss-q-radio" aria-label="No">
       <label for="group_351358348_2">No</label>
        </div>
     </label>
    </li>

   </ul>

  <!-- ABOUT ME - REQUIRED -->
   <label class="form-field-label" for="entry_2034790886"><div class="form-field-title field-required">Please briefly describe your background and your expertise (experience, skills and interests) in connection with the conferences you have specified.</div></label>
   <textarea rows="8" cols="0"  name="entry.2034790886" id="entry_2034790886" aria-label="Please briefly describe your background and your expertise (experience, skills and interests) in connection with the conferences you have specified.  " aria-required="true" required=""></textarea>

   <!-- ABOUT ME - NOT REQUIRED -->
   <label class="form-field-label" for="entry_1375254264"><div class="form-field-title">Add any additional information about yourself that’s pertinent to this conference that you didn’t tell us about in your previous application.</div></label>
   <textarea rows="8" cols="0" name="entry.1375254264" id="entry_1375254264"></textarea>

  <!-- CITY -->
   <label class="form-field-label" for="entry_1389641910"><div class="form-field-title field-required">What is your current physical location? <br>City</div></label>
   <input type="text" name="entry.1389641910" value="" class="ss-q-short" id="entry_1389641910" dir="auto" aria-label="City  " aria-required="true" required="" title="">
<!-- COUNTRY -->
   <label class="form-field-label" for="entry_344739365"><div class="form-field-title field-required">Country</div></label>
   <input type="text" name="entry.344739365" value="" class="ss-q-short" id="entry_344739365" dir="auto" aria-label="Country  " aria-required="true" required="" title="">
<!-- OTHER PARTICIPANTS -->
   <label class="form-field-label" for="entry_2129327437"><div class="form-field-title">Do you have suggestions of other participants?</div></label>
   <textarea name="entry.2129327437" rows="8" cols="0" class="ss-q-long" id="entry_2129327437" dir="auto" aria-label="Do you have suggestions of other participants?  "></textarea>



   <input type="hidden" name="draftResponse" value="[,,&quot;933836574473359503&quot;]
   ">
   <input type="hidden" name="pageHistory" value="0">
   <input type="hidden" name="fbzx" value="933836574473359503">
   <input type="submit" name="submit" value="Submit" id="ss-submit" class="jfk-button jfk-button-action ">

   </form>


  <!-- END GOOGLE FORM -->



          </div>
      </div>
  </div>
{% endblock %}