{% extends '_form_base.html' %}

{% block form_container %}
  <div class="b-page-section">
      <div class="row">
          <div class="column small-12">
              <form action="" class="b-form">
                  <input type="text" id="name" placeholder="Name" />
                  <input type="email" id="mail" placeholder="Email"/>
                  <textarea id="msg" placeholder="Message"></textarea>
                  <input type="submit" value="Send">
              </form>
          </div>
      </div>
  </div>
{% endblock %}