{% macro renderTopicsPage(image, title, subtitle, issue, problem, question,problem_description, conference_description, conference_link) %}


<div id='topics-page'>
  <div class="b-top-section" style='background-image: url(./img/background-images/{{image}})'>
    <div class="row expanded">
    <div class="e-shade"></div>
      <div class='title-group'>
        <h2 class="e-title">{{title}}</h2>
        <h3 class="e-subtitle">{{subtitle}}</h3>
      </div>
    </div>
  </div>


  <section class="b-page-section b-topics">
    <div class="row">
      <div class="large-3 columns">
        <h3 class="e-description-title">Issue</h3>
      </div>
      <div class="large-8 columns end">
        <p class="e-description">{{issue}}</p>
      </div>
    </div>

    <div class="row">
      <div class="large-3 columns">
        <h3 class="e-description-title">Problem</h3>
      </div>
      <div class="large-8 columns end">
        <p class="e-description">{{problem}}</p>
      </div>
    </div>

    <div class="row">
      <div class="large-3 columns">
        <h3 class="e-description-title">Question</h3>
      </div>
      <div class="large-8 columns end">
        <p class="e-description">{{question}}</p>
      </div>
    </div>

    <div class="row">
      <div class="large-3 columns">
        <h3 class="e-description-title">Problem<br>Description</h3>
      </div>
      <div class="large-8 columns end">
        <p class="e-description">{{problem_description | safe}}</p>
      </div>
    </div>
  </section>


  <div class='b-divider m-mbd-primary'>
    <div class="row">
      <div class="large-12 large-centered column">
      <h1></h1>
      <h2>Participants</h2>
      </div>
    </div>
  </div>

  <section class='b-page-section'>
    <div class="row">
      <div class="large-10 large-offset-1 columns">
      {{conference_description | safe}}
      </div>
    </div>
      <div class='row'>
        <div class='small-5 small-centered column'>
          <a href="./form1.html" class='b-button e-mbd-button m-mbd-secondary'>Request an Invite</a>
        </div>
      </div>
    </div>
  </section>

  <div class='b-divider m-mbd-primary'>
    <div class="row">
      <div class="large-12 large-centered column">
      <h1></h1>
      <h2>Online Conference</h2>
      </div>
    </div>
  </div>

  <section class='b-page-section'>
    <div class="row">
      <div class="large-10 large-offset-1 columns">
      {{conference_description | safe}}
      </div>
    </div>
      <div class='row'>
        <div class='small-5 small-centered column'>
          <a href="{{conference_link}}" class='b-button e-mbd-button m-mbd-secondary'>Learn More</a>
        </div>
      </div>
    </div>
  </section>


  <div class="b-divider m-mbd-primary m-next">
    <div class="row"> 
      <div class="large-4 large-offset-8 columns end">
        <h1>Next Topic</h1>
        <a href="{{link.survey}}" target="_blank">
        <h2>Topic Title<i class="material-icons">chevron_right</i></h2>
        </a>
      </div>
    </div>
  </div>

</div>


{% endmacro %}