{% extends '_base.html' %}
{% block main %}

<div id='form-page'>
  <div class="b-top-section m-mbd-secondary">
    <h2>Share your expertise</h2>
    <h3>Smarter Crowdsourcing for Zika</h3>
  </div>

  <div class="b-page-section">
    <div class="row">
      <div class="large-10 large-offset-1 columns">
        <p>Between August-October 2016, the Governance Lab and the Inter-American Development Bank in partnership with  the Governments of Rio de Janeiro, Argentina, Colombia and Panama, are hosting a series of weekly, 2-hour online conferences to discuss innovative and practical ways to tackle the root causes of Zika and mosquito-borne diseases.</p>

        <p>These small-group conversations are intended to foster brainstorming of actionable new strategies in conversation with those government officials responsible for managing the outbreaks. For more about the topics of these conversation, see LINK</p>

        <p>By participating, you will:</p>
        <ul>
          <li>Lend your skills to tackling a public health emergency.</li>
          <li>Speak directly to those interested in implementing new approaches.</li>
          <li>Deliberate with diverse innovators and professionals to refine good ideas into actionable projects.</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="b-divider m-white">
    <div class="row">
        <div class="large-10 large-offset-1 columns">
          <h3>Participate. Apply here.</h3>
      </div>
    </div>
  </div>

  {% block form_container %} {% endblock %}

  <div class="b-page-section">
    <div class="row">
        <div class="large-10 large-offset-1 columns">
          <p>Please note that, in an effort to make conversation meaningful, we are limiting the size of each group. We will confirm your participation and provide login instructions by return email.</p>

          <p>Information collection statement - Thank you for signing up to participate in Smarter Crowdsourcing: Zika. We collect personally identifiable information from you for the purpose of communicating with you about your involvement in the upcoming online conferences. In the spirit of openness, we will publish the names, affiliations, and locations of all participants. We will not share contact information. If you have any questions, please email maria@thegovlab.org.</p>
        </div>
    </div>
  </div>

</div>
{% endblock %}
