{% extends '_base.html' %}
{% block main %}

<div id='about-page'>

  <div class="b-top-section m-mbd-secondary">
    <h2>About</h2>
  </div>

  <div class="b-page-section">
    <div class="row">
      <div class="large-10 large-centered columns">
      <p>Global and complex public health emergencies, such as Zika, Dengue and Chikungunya, threaten public health and well-being, risk disruption to global and regional trade and economic stability, and cause widespread uncertainty and concern.</p>

      <p>In response, the Governance Lab and the Inter-American Development Bank in partnership with  the Governments of Rio de Janeiro, Argentina, Colombia and Panama, are hosting a series of online conferences taking place August-October 2016.</p>

      <p>Instead of a handful of people meeting once at great expense in a conference room, we will use the Internet to mobilize and curate diverse and distributed expertise -- both credentialed know-how and experiential wisdom -- to identify, design and iterate upon implementable ideas that governments can use.<p>

      <p>The goal? Bring the best thinking to bear and translate good ideas into actionable proposals backed by evidence.</p>
      </div>
    </div>
  </div>

  <div class='b-divider m-mbd-secondary'>
    <div class="row">
      <div class="large-12 large-centered column">
      <h2>Government Partners</h2>
      </div>
    </div>
  </div>

  <section class='b-page-section'>
    <div class="row">
      <div class="large-3 columns e-govt-partner-cards">
        <h3>Partner 1</h3>
      </div>
      <div class="large-3 columns e-govt-partner-cards">
        <h3>Partner 2</h3>
      </div>
      <div class="large-3 columns e-govt-partner-cards">
        <h3>Partner 3</h3>
      </div>
      <div class="large-3 columns e-govt-partner-cards">
        <h3>Partner 4</h3>
      </div>
    </div>

  </section>

</div>

{% endblock %}
