{% extends '_base.html' %}
{% block nav_group %}
<div id="active-user">
  <button id="logout" value="Log Out">Logout</button>
  <span id="current-user"></span>
</div>
{% endblock %}
{% block main %}
<div class="b-admin-page">


  <div class="b-top-section">
    <h3>Admin</h3>
    <div id='login-row' class="row">
      <div class="column small-6 small-centered">
        <input type="email" id="login-email" required placeholder="Email Address"/>
        <input type="password" id="login-password" required placeholder="Password"/>
        <a id="login" class="b-button" type="submit" value="Sign in">Sign In</a>
      </div>
    </div>
    <div class="row">
      <div class="column small-6 small-centered login-alert">
        <h3 id="login-message"></h3>
      </div>
    </div>
  </div>

<!--   <div class="b-page-section" id='auth'>
    <div class="row">
    <div class="small-3 column"">
    </div>
    <div class="small-9 column" id="admin-messages"></div>
    </div>
  </div> -->

  <div class="b-page-section admin-view ">
    <div class="row" id="auth">
      <div class="small-3 column""></div>
      <div class="small-9 column" id="admin-messages"></div>
    </div>
    <div class='row'>
      <div class="small-3 column" id="data-menu">
    </div>
    <div class="small-9 column" id="data-panel">
  </div>

</div>



{% endblock %}

{% block custom_scripts %}
  <script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.0.5/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.0.5/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.0.5/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-storage.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyBPyKSaw7T-q4BGfJQ2OHXyTcCnDUYJZOs",
      authDomain: "mbd-crowdsourcing-smarter.firebaseapp.com",
      databaseURL: "https://mbd-crowdsourcing-smarter.firebaseio.com",
      // storageBucket: "gs://mbd-crowdsourcing-smarter.appspot.com",
    };
    firebase.initializeApp(config);
    // var storageRef = firebase.storage().ref();

  </script>
  <script src="js/fb-editable.js"></script>
{% endblock %}