{% extends '_base.html' %}
{% block main %}

<div id='cfp-page'>
  <div class="b-top-section m-mbd-secondary">
    <h2>Call for Participants</h2>
  </div>


  <div class="b-page-section">
    <div class="row">
      <div class="large-10 large-offset-1 columns">
        <p>Between August-October 2016, the Governance Lab and the Inter-American Development Bank in partnership with  the Governments of Rio de Janeiro, Argentina, Colombia and Panama, are hosting a series of weekly, 2-hour online conferences to discuss innovative and practical ways to tackle the root causes of Zika and mosquito-borne diseases.</p>

        <p>These small-group conversations are intended to foster brainstorming of actionable new strategies in conversation with those government officials responsible for managing the outbreaks. For more about the topics of these conversation, visit our <a href="./topics.html">Topics</a> page.</p>

        <p>By participating, you will:</p>
        <ul>
          <li>Lend your skills to tackling a public health emergency.</li>
          <li>Speak directly to those interested in implementing new approaches.</li>
          <li>Deliberate with diverse innovators and professionals to refine good ideas into actionable projects.</li>
        </ul>
      </div>
      <div class='row'>
        <div class='small-5 small-centered column'>
          <a href="./form1.html" class='b-button e-mbd-button m-mbd-secondary'>Participate. Apply here.</a>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}
