{% extends '_base.html' %}

{% block header %} class="b-top-nav m-transparent" {% endblock %}>

{% block main %}

<div id="conference-page">


  <div class="b-conference-header" style="background-image: url(./img/background-images/main.jpeg)"> 
    <div class="row">
      <div class="row expanded">
      <div class="e-shade"></div>
        <div class='title-group'>
          {% block title %}
          <h2 id="title" class="e-title"></h2>
          {% endblock %}
          {% block subtitle %}
          <h3 id="subtitle" class="e-subtitle"></h3>
          {% endblock %}
        </div>
      </div>
    </div>

  <div class="e-conference-details">
    <div class="row">
      <div class="large-9 large-centered">
        <h2>Conference Details</h2>
        <div class="row">
          <div class="large-6 column">
            <h3 class="e-detail-date">Date<br></h3>
            {%block date%}
              <h2 id="date"class="e-detail-date" id="date"></h2>
            {% endblock %}
            </div>
            <div class="large-6 column">
              <h3 class="e-detail-time">Time<br></h3>
            {%block time %}
            <h2 id="time" class="e-detail-time" id="time"></h2>
            {%endblock%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='b-divider m-mbd-primary'>
    <div class="row">
      <div class="large-12 large-centered column">
      <h2>Goals</h2>
      </div>
    </div>
  </div>

  <section class='b-page-section'>
    <div class="row">
      <div class="large-10 large-offset-1 columns">
      <div id="goals"></div>
      </div>
    </div>
  </section>

  <div class='b-divider m-mbd-primary'>
    <div class="row">
      <div class="large-12 large-centered column">
      <h2>Agenda</h2>
      </div>
    </div>
  </div>

  <section class='b-page-section'>
    <div class="row">
      <div class="large-10 large-offset-1 columns">
      {% block agenda%}
        <p id="agenda"></p>
      {% endblock %}
      </div>
    </div>
    <div class='row'>
      <div class='small-5 small-centered column'>
      {% block agenda_link %}
        <a id="agenda_link" href= "#" class='b-button e-mbd-button m-mbd-secondary'>See Latest Agenda</a>
      {% endblock %}
      </div>
    </div>
  </section>

  <div class='b-divider m-mbd-primary'>
    <div class="row">
      <div class="large-12 large-centered column">
      <h2>Problem Description</h2>
      </div>
    </div>
  </div>

  <section class='b-page-section'>
    <div class="row">
      <div class="large-10 large-offset-1 columns">
      {% block problem_description %}
        <p id="problem_description"></p>
      {% endblock %}
      </div>
    </div>
    <div class='row'>
      <div class='small-5 small-centered column'>
      {% block problem_description_link %}
        <a id="problem_description_link" href="#" class='b-button e-mbd-button m-mbd-secondary'>Read Latest Problem Description</a>
      {% endblock %}
      </div>
    </div>
  </section>

  <div class='b-divider m-mbd-primary'>
    <div class="row">
      <div class="large-12 large-centered column">
      <h2>Pre-Conference Materials</h2>
      </div>
    </div>
  </div>

  <section class='b-page-section'>
    <div class="row">
      <div class="large-10 large-offset-1 columns">
      {% block pre_conference_description %}
        <p id='pre_conference_description'></p>
      {% endblock %}
      </div>
    </div>
  </section>

  <div class="b-preconference-links">
    <ul id="pre_conference_links" class="b-links-list">
      {% block pre_conference_links %}
      {% endblock %}
    </ul>
  </div>

  <div class='b-divider m-mbd-primary'>
    <div class="row">
      <div class="large-12 large-centered column">
      <h2>Participants</h2>
      </div>
    </div>
  </div>

  <section class="b-page-section b-participants">
    <div class="row">
      <ul id="participants_list" class="large-10 column large-offset-1">
        {%block participants_list %}
        {% endblock %}
      </ul>
    </div>
  </section>

  <div class='b-divider m-mbd-primary'>
    <div class="row">
      <div class="large-12 large-centered column">
      <h2>Post-Conference Materials</h2>
      </div>
    </div>
  </div>

  <section class='b-page-section'>
    <div class="b-divider m-white">
      <h2 class='b-subdivision'>Takeaways</h2>
    </div>
    <div class="row">
      <div class="large-10 large-offset-1 columns">
        <ul id="takeaways">
        {% block takeaways %}
        {% endblock%}
        </ul>
      </div>
    </div>
    <div class="b-divider m-white">
      <h2 class='b-subdivision'>Action Items</h2>
    </div>
    <div class="row">
      <div class="large-10 large-offset-1 columns">
        <ul id="action_items">
        {% block action_items %}
        {% endblock %}
        </ul>
      </div>
    </div>
    <div class="b-divider m-white">
      <h2 class='b-subdivision'>Shared Resources</h2>
    </div>
  </section>

  <div class="b-shared-resources-links">
    <ul id="shared_resources" class="b-links-list">
    {% block shared_resources_links %}
    {% endblock %}
    </ul>
  </div>

  <div class="b-divider m-mbd-primary m-next">
    <div class="row"> 
      <div class="large-4 large-offset-8 columns end">
        <h1>Next Topic</h1>
        <a href="#" target="_blank">
        <h2>Topic Title<i class="material-icons">chevron_right</i></h2>
        </a>
      </div>
    </div>
  </div>


</div>

{% endblock %}

{% block custom_scripts %}
  <script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.0.5/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.0.5/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.0.5/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-storage.js"></script>


  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyBPyKSaw7T-q4BGfJQ2OHXyTcCnDUYJZOs",
      authDomain: "mbd-crowdsourcing-smarter.firebaseapp.com",
      databaseURL: "https://mbd-crowdsourcing-smarter.firebaseio.com",
      storageBucket: "gs://mbd-crowdsourcing-smarter.appspot.com",
    };
    firebase.initializeApp(config);
     // Create a root reference

  </script>
  <script src="js/fb-editable.js"></script>
{% endblock %}