{% extends '_base.html' %}
{% block main %}

<div id='homepage'>

  <section class="b-highlights m-mbd-1">
    <div class="row expanded collapse">  
      <div class="large-8 column">
        <div class="large-12 column no-padding">
          <div class="b-slider">
            <div class="b-slide m-mbd-1" style="background-image: url(./img/background-images/main.jpeg)">
              <p class='e-highlights-tag'>New Topic Added</p>
              <h2 class='e-highlights-title'>Trash & Standing Water </h2>
              <p class='e-highlights-subtitle'>Online Conference<br>July 16, 2016</p>
              <div class='row'>
                <div class='small-5 small-centered column'>
                  <a class='b-button e-mbd-button m-mbd-secondary'>Learn More</a>
                </div>
              </div>
            </div>
            <div class="b-slide m-mbd-1" style="background-image: url(./img/background-images/main.jpeg)">
              <p class='e-highlights-tag'>New Topic Added</p>
              <h2 class='e-highlights-title'>Trash & Standing Water </h2>
              <p class='e-highlights-subtitle'>Online Conference<br>July 16, 2016</p>
              <div class='row'>
                <div class='small-5 small-centered column'>
                  <a class='b-button e-mbd-button m-mbd-secondary'>Learn More</a>
                </div>
              </div>
            </div>
            <div class="b-slide m-mbd-1" style="background-image: url(./img/background-images/main.jpeg)">
              <p class='e-highlights-tag'>New Topic Added</p>
              <h2 class='e-highlights-title'>Trash & Standing Water </h2>
              <p class='e-highlights-subtitle'>Online Conference<br>July 16, 2016</p>
              <div class='row'>
                <div class='small-5 small-centered column'>
                  <a class='b-button e-mbd-button m-mbd-secondary'>Learn More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="large-4 column">
        <div class="row expanded collapse">
          <a href="#">
            <div class="large-12 column b-small-banner" style="background-image: url(./img/background-images/topics.jpg)">
              <h2 class='e-small-banner-title'>Topics</h2>
            </div>
          </a>   
          <a href="#">
            <div class="large-12 column b-small-banner" style="background-image: url(./img/background-images/experts.jpg)">
              <h2 class='e-small-banner-title'>Experts</h2>
            </div>
          </a>
        </div>
      </div>
    </div>
</section>

</div>
{% endblock %}
