{% extends '_base.html' %}
{% block main %}

<div id='homepage'>

  <section class="b-highlights m-mbd-1">
    <div class="row expanded collapse">  
      <div class="large-8 column">
        <div class="large-12 column no-padding">
          <div class="b-slider">
            <div class="b-slide m-mbd-1" style="background-image: url(./img/background-images/main.jpeg)">
              <p class='e-highlights-tag'>New Topic Added</p>
              <h2 class='e-highlights-title'>Trash & Standing Water </h2>
              <p class='e-highlights-subtitle'>Online Conference<br>July 16, 2016</p>
              <div class='row'>
                <div class='small-5 small-centered column'>
                  <a href='#' class='b-button e-mbd-button m-mbd-secondary'>Learn More</a>
                </div>
              </div>
            </div>
            <div class="b-slide m-mbd-1" style="background-image: url(./img/background-images/main.jpeg)">
              <p class='e-highlights-tag'>New Topic Added</p>
              <h2 class='e-highlights-title'>Trash & Standing Water </h2>
              <p class='e-highlights-subtitle'>Online Conference<br>July 16, 2016</p>
              <div class='row'>
                <div class='small-5 small-centered column'>
                  <a class='b-button e-mbd-button m-mbd-secondary'>Learn More</a>
                </div>
              </div>
            </div>
            <div class="b-slide m-mbd-1" style="background-image: url(./img/background-images/main.jpeg)">
              <p class='e-highlights-tag'>New Topic Added</p>
              <h2 class='e-highlights-title'>Trash & Standing Water </h2>
              <p class='e-highlights-subtitle'>Online Conference<br>July 16, 2016</p>
              <div class='row'>
                <div class='small-5 small-centered column'>
                  <a class='b-button e-mbd-button m-mbd-secondary'>Learn More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="large-4 column">
        <div class="row expanded collapse">
          <a href="#">
            <div class="large-12 column b-small-banner" id="topics-banner" style="background-image: url(./img/background-images/topics.jpg)">
              <h2 class='e-small-banner-title'>Topics</h2>
            </div>
          </a>   
          <a href="#">
            <div class="large-12 column b-small-banner" id="experts-banner" style="background-image: url(./img/background-images/experts.jpg)">
              <h2 class='e-small-banner-title'>Experts</h2>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>


  <section class='b-page-section'>
    <div class='b-divider m-white'>
      <div class="row">
        <div class="large-10 large-centered columns">
          <img id="sc_zika_logo" src="./img/sc_zika_logo.png">
        </div>
      </div>
    </div>
  </section>

  <div class="b-slider slick m-imagine m-white" id="imagine-slider">
      <section id="slide-id" class="b-slide m-imagine m-white">
          <div class="row e-content">
              <div class="large-8 large-centered columns">
                  <h3 class="e-question e-imagine"><strong>Imagine</strong> if the smartest and most innovative people could come together to fight Zika quickly and easily. </h3>
              </div>
          </div>
      </section>
      <section id="slide-id" class="b-slide m-imagine m-white">
          <div class="row e-content">
              <div class="large-8 large-centered columns">
                  <h3 class="e-question e-imagine"><strong>Imagine</strong> if those creative individuals could speak directly to the institutions with the power and responsibility for delivering new policies and services.</h3>
              </div>
          </div>
      </section>
      <section id="slide-id" class="b-slide m-imagine m-white">
          <div class="row e-content">
            <div class="large-8 large-centered columns">
                <h3 class="e-question e-imagine"><strong>Imagine</strong> if the epidemiologist, the computer scientist, the urban planner and those with diverse know how could talk to one another to design actionable solutions to the root causes of mosquito borne illness.</h3>
            </div>
          </div>
      </section>
  </div>


  <div class="b-page-section">
    <div class="row">
      <div class="large-10 large-centered columns">
      <p>Global and complex public health emergencies, such as Zika, Dengue and Chikungunya, threaten public health and well-being, risk disruption to global and regional trade and economic stability, and cause widespread uncertainty and concern.</p>

      <p>In response, the Governance Lab and the Inter-American Development Bank in partnership with  the Governments of Rio de Janeiro, Argentina, Colombia and Panama, are hosting a series of online conferences taking place August-October 2016.</p>

      <p>Instead of a handful of people meeting once at great expense in a conference room, we will use the Internet to mobilize and curate diverse and distributed expertise -- both credentialed know-how and experiential wisdom -- to identify, design and iterate upon implementable ideas that governments can use.<p>

      <p>The goal? Bring the best thinking to bear and translate good ideas into actionable proposals backed by evidence.</p>
      </div>
    </div>
  </div>


  <div class="b-page-section">
    <div class="row">
      <div class="large-10 large-centered columns">
        <h3>For more background about Smarter Crowdsourcing - Zika</h3> [link to the playbook]

        <h3>For the schedule [link to the list of problems with dates] and to view the steering committee [link to bios]</h3>

        <h3>To participate [link to the sign up page]</h3>
      </div>
    </div>
  </div>

  {% for topic in topics %}
    <section class="b-page-section b-topics-banner" id={{topic.firebase_id}}>
      <div class="row">
        <div class="columns large-5 large-offset-1">

          <h2>{{topic.title}}</h2>
          <p><span class='m-caps'>Online Conference:</span><br/> <span class="topic_date">{{topic.online_conference.date}}</span></p>
        </div>
        <div class="large-5 end columns">
          <p class="topic_description">{{topic.problem_description | safe}}</p>
          <a href='{{topic.id}}-{{topic.title | slug}}.html' class='b-button e-mbd-button m-mbd-secondary'>Learn More</a>
        </div>
      </div>
    </section>
  {% endfor %}

  <div class='b-divider m-mbd-primary'>
    <div class="row">
      <div class="large-12 large-centered column">
      <h2>More information</h2>
      </div>
    </div>
  </div>

  <section class='b-page-section'>
    <div class="row">
      <div class="large-10 large-offset-1 columns">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consequat risus quis est fermentum, a ullamcorper elit tincidunt. Donec rhoncus nisl neque, eu ornare arcu imperdiet quis. In pretium mattis est, quis varius ligula vulputate eu. Nulla cursus, erat ac posuere auctor, tellus nibh hendrerit ex, in venenatis tellus ligula a sem. Morbi sed rhoncus elit.</p>
      </div>
    </div>
      <div class='row'>
        <div class='small-5 small-centered column'>
          <a class='b-button e-mbd-button m-mbd-secondary'>Learn More</a>
        </div>
      </div>
    </div>
  </section>


</div>

{% endblock %}
