{% extends '_base.html' %}
{% block main %}

<div id='all-topics-page'>
  <div class="b-top-section m-mbd-secondary">
    <h2>Topics</h2>
  </div>

  {% for topic in topics %}
    <section class="b-page-section b-topics-banner" id={{topic.firebase_id}}>
      <div class="row">
        <div class="columns large-5 large-offset-1">

          <h2>{{topic.title}}</h2>
          <p><span class='m-caps'>Online Conference:</span><br/> <span class="topic_date">{{topic.online_conference.date}}</span></p>
        </div>
        <div class="large-5 end columns">
          <p class="topic_description">{{topic.problem_description | safe}}</p>
          <a href='{{topic.slug}}.html' class='b-button e-mbd-button m-mbd-secondary'>Learn More</a>
        </div>
      </div>
    </section>
  {% endfor %}

</div>

{% endblock %}
