
#data-menu {
  border-right: solid $gray-15 2px;
}

#logout {
  font-style: bold;
}

textarea {
  height: 150px;
}

.b-form-links {
  width: 50%;
  background-color: $mbd-1;
}
.admin-toggle {
  :first-child:hover {
    color:$mbd-primary;
  }
}
