// HEADER

.b-top-nav {
  background-color: $mbd-secondary;
}

.b-top-nav.m-transparent {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;

}


.b-top-section {
  .e-shade {
      pointer-events: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      // background-image: linear-gradient($gray-10, $gray-15);
  }
}

// FOOTER
.b-footer .e-content {
  h4 {
    @include breakpoint($mobile-only) {
      text-align: center;
    }
  }
  .e-partner-logo {
    text-align: center;
  }
  .e-partner-logo > img {
    width: 25%;
    @include breakpoint($desktop){
      width: 25%;
      max-height: 300px;
    }
    @include breakpoint($mobile-only){
      width: 200px;
      max-height: 300px;
    }
  }
}

// SCROLL
// NAV MENU SCROLL
.b-main-menu {
  overflow-x: auto;
  &::-webkit-scrollbar {
      width: 8px;
  }
  &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px inherit; 
      -webkit-border-radius: 14px;
      border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 14px;
      background: inherit; 
      -webkit-box-shadow: inset 0 0 6px $gray-15; 
  }
  &::-webkit-scrollbar-thumb:window-inactive {
    background: $gray-15; 
  }
}