#conference-page {
  &ul {color:red;}
  .b-conference-header {
    @extend .b-top-section;
    position: relative;
    color: white;
    background: no-repeat center; 
    background-size: cover;
    padding-bottom: 0;
    .title-group {
      padding: 50px;
    }
    .e-title {
      font-size: 2.2em;
      font-weight: 400;
    }
    .e-subtitle {
      font-size: 1.5em;
      font-weight: 400;
    }

    .e-conference-details {
      padding: 40px 0;
      background-color: rgba($black, .5);

      h2 { 
        font-size: 1.2rem;
        font-weight: 500;
      }
      h3 { 
        margin: 0; 
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 500;
        // opacity: .6;
      }
    }
  }

}


  .b-links-list {
      margin: 0;

      .e-link-item {
          list-style-type: none;

          &:nth-of-type(odd) { background-color: rgba($black, .05); }

          .e-link-title {
            padding: 32px 0 12px;
            text-transform: uppercase;
          }
      }

  }

  .b-participants{
    ul { 
      padding: 0;

     }
    li {
      float: left;
      padding-left: 2%;
      overflow: auto;
      width: 49%;

      list-style-type: none;
      margin-bottom: 15px;
      color: rgba($black, .6);

      strong {
        color: rgba($black, .9);
        display: block;
      }
    }
    .fa-twitter {
      color: $mbd-secondary;
    }

  }

