// example custom sass file
// place site specific sass into individual files like this one as needed for the design,
// and @import in styles.scss



// GLOBAL STYLES
  .e-mbd-button {
    color: white;
    width: 100%;
    height: 49px;
    font-weight: 700;
  }

  .b-divider :first-child h2  {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 22px;
  }

  .b-subdivision {
    font-size: 1.5rem;
    line-height: 1;
    text-transform: uppercase !important;
    text-align: center;
    font-weight: 200
  }


// padding adujustments
.no-padding {
  padding: 0;
  padding-bottom: 0;
  height: 100%;
  vertical-align: -20px;
}


// HEADER MENU


.b-top-nav .e-nav-group.m-right {
  a {
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 4px;
    margin-right: 26px;
    vertical-align: -25px;
  }
}


// SCROLL
// NAV MENU SCROLL
.b-main-menu {
  overflow-x: auto;
  &::-webkit-scrollbar {
      width: 8px;
  }
  &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px inherit; 
      -webkit-border-radius: 14px;
      border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 14px;
      background: inherit; 
      -webkit-box-shadow: inset 0 0 6px $gray-15; 
  }
  &::-webkit-scrollbar-thumb:window-inactive {
    background: $gray-15; 
  }
}