#homepage {
  .b-highlights {
    @extend .b-top-section;
    padding: 0;
    .b-slide {
      padding: 97px 0;
      background: no-repeat center; 
      background-size: cover;
      background-blend-mode: multiply;
      background-color: rgba($black, .3);
      .e-highlights-tag { 
        font-size: 1.5rem;
        text-align: center;
        margin-top: -34px;
        text-transform: uppercase;
        font-weight: 400;
      }
      .e-highlights-title { 
        padding-top: 1rem;
        font-size: 2.2rem;
        font-weight: 400;
      }
      .e-highlights-subtitle {
        font-size: 1.5rem;
        font-weight: 400;
        text-align: center;
        line-height: 1;
        text-transform: uppercase;
      }
      .e-mbd-button {color:white;}
    }
    .b-small-banner {
      height: 200px;
      background: no-repeat center; 
      background-size: cover;
      background-blend-mode: multiply;
      &#topics-banner {
        background-color: rgba($mbd-primary, .3);
      }
      &#experts-banner {
        background-color: rgba($mbd-primary, .5);
      }
      .e-small-banner-title {
        font-size: 1.7rem;
        margin-top: 80px;
        vertical-align: center;    
        text-transform: uppercase;
        font-weight: 400;
      }
    }
  }
  .main-title {
    font-size: 2.5rem;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
  }
  .main-subtitle {
    font-size: 1.7rem;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    font-weight: 200;
  }

  .b-slide {
    text-align: center;
  }
  .b-slider .slick-arrow {
    top: 20%;
  }
  .b-slider .slick-arrow:before, .b-slider .slick-arrow:after {
    color: rgba(0, 0, 0, 0.1);

  }

  .slick-dots {
    text-align: center;
    li {
      list-style: none;
      display: inline-block;
      padding: 15px;
      button {
        font-size: 0;
        color: transparent;
      }
      &::after {
        font-family: 'Material Icons';
        font-style: normal;
        font-weight: 400;
        font-size: 12;
        color: rgba(0, 0, 0, 0.2);
        content: "radio_button_unchecked";
      }
      &.slick-active::after {
        content: "lens";
      }
    }
  }

  .b-topics-banner {
    &:nth-of-type(odd) { background-color: rgba($black, .05); }
    &:nth-of-type(even) { background-color: rgba($black, .1); }
  }
  
  .b-button {
    background-color: rgba(0, 0, 0, 0.1);
    color: $black;
    &:hover {
      background-color: $mbd-secondary;
      color: $white;
    }
  }


}
