#topics-page {
  .b-top-section {
    display: block !important;
    .title-group {
      @include breakpoint($desktop){
        padding-top:20vh;
      }
      @include breakpoint($mobile-only){
        padding-top:10vh;
      }
    }
    height: 60vh;
    position: relative;
    color: white;
    background: no-repeat center; 
    background-size: cover;
    .e-title {
      font-size: 3em;
      font-weight: 400;
    }
    .e-subtitle {
      font-size: 1.5em;
      font-weight: 600;
    }
  }
  .b-topics {
    .row { margin-top: 20px;}
    margin: 40px 0px;
    padding: 10px;
    .e-description-title {
      // color: rgba($black, .4);
      // line-height: 1.5;
      padding-left: 0;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 22px;
      @include breakpoint($desktop){
        text-align: right;
      }
      @include breakpoint($mobile-only){
        text-align: left;
      }
    }
    .e-description, .e-description + p {
      // font-size: 1.2rem;
      // font-weight: 300;
      margin:0;
    }
  }
}

.b-divider.m-next div h1 {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.3);
    text-align: left
  }
  .b-divider.m-next div h2 {
    text-align: left;
    text-transform: none;
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    transition: all .4s ease;
    .material-icons {
      vertical-align: -5.5px;
      color: rgba(255, 255, 255, 0.3);
    }
  }
  .b-divider.m-next div a:hover {
      text-decoration: none; }
      .b-divider.m-next div a:hover h2 {
        color: white;
        transition: all .4s ease; }
