// VARIABLES

$mbd-primary: #345A6C;
$mbd-secondary: #04CCB7;
$mbd-1: #EDFBF9;
$mbd-2: #FFFDE8;
$mbd-3: #F6FCF2;
$mbd-4: #FFF1F1;
$mbd-5: #F3F1F3;
$mbd-6: #F2F5F6;

.m-mbd-primary { background-color: $mbd-primary; }
.m-mbd-secondary { background-color: $mbd-secondary; }
.m-mbd-1 { background-color: $mbd-1; }
.m-mbd-2 { background-color: $mbd-2; }
.m-mbd-3 { background-color: $mbd-3; }
.m-mbd-4 { background-color: $mbd-4; }
.m-mbd-5 { background-color: $mbd-5; }
.m-mbd-6 { background-color: $mbd-6; }
